@font-face {
    font-family: 'iconfont';
    /* project id 2396243 */
    src: url('//at.alicdn.com/t/font_2396243_sx3lk4rq0q.eot');
    src: url('//at.alicdn.com/t/font_2396243_sx3lk4rq0q.eot?#iefix') format('embedded-opentype'),
        url('//at.alicdn.com/t/font_2396243_sx3lk4rq0q.woff2') format('woff2'),
        url('//at.alicdn.com/t/font_2396243_sx3lk4rq0q.woff') format('woff'),
        url('//at.alicdn.com/t/font_2396243_sx3lk4rq0q.ttf') format('truetype'),
        url('//at.alicdn.com/t/font_2396243_sx3lk4rq0q.svg#iconfont') format('svg');
}

#header .w {
    position: relative;
}

#header .w .logo {
    width: 190;
    height: 120px;
    position: absolute;
    top: 10px;
    left: 0;
    overflow: hidden;
}

#header .logo .logo_tit_lk{
    display: block;
    width: 190px;
    height: 120px;
}
/* logo动画效果 */
#header  .logo_gif{
    position: absolute;
    top: 0;
    left: 28px;
    width: 134px;
    height: 120px;
    background-color: #fff;
    display: none;
}
#header  .logo_txt{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -60px;
    margin-top: -30px;
    text-align: center;
    width: 120px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    font-weight: bolder;
    color: rgb(129, 146, 150);
    background: transparent;
    opacity: 0;
    transition: all .5s;
}

#header  .logo_look{
    left: 50%;
    margin-top: -20px;
    margin-left: -30px;
    width: 60px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    border-radius: 20px;
    top: 70%;
    color: #fff ;
    background-color: rgb(252, 218, 146);
    opacity: 0;
    transition: all .5s;
}


#header .search {
    position: absolute;
    left: 200px;
    width: 100%;
    height: 100%;
}

#header .search .search-form {
    position: absolute;
    left: 60px;
    top: 25px;
    width: 546px;
    height: 32px;
    border: 2px solid #e2231a;
    background: #fff;
}

#header .search #search-input {
    width: 425px;
    height: 26px;
    outline: none;
    border: 1px solid transparent;
    padding: 2px 44px 2px 17px;
}

#header .search .search-camera {
    position: absolute;
    top: 3px;
    right: 80px;
    font-size: 20px;
    font-weight: 500;
    color: #aaa;
}

#header .search .search-camera:hover {
    color: #e1251b;
}

#header .search .search-btn {
    border: none;
    outline: none;
    width: 58px;
    height: 32px;
    line-height: 32px;
    background-color: #e1251b;
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
}

#header .search .search-btn:hover {
    background-color: #c81623;
}

#header .search-list {
    color: #666;
    font-size: 12px;
    position: absolute;
    top: 36px;
    border: 1px solid #ccc;
    width: 490px;
    background-color: #fff;
    z-index: 1000;
    box-sizing: border-box;
    display: none;
}

#header .search-list li {
    padding: 1px 6px;
    line-height: 24px;
    cursor: pointer;
}

#header .search-list li:hover {
    background-color: #f5f5f5;
}

#header .search-list #product-number {
    float: right;
}

#header .hotwords {
    position: absolute;
    left: 260px;
    top: 65px;
    width: 490px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
}

#header .hotwords a {
    color: #999;
    font-size: 12px;
    float: left;
    margin-right: 5px;
}

#header .hotwords a:first-of-type {
    color: #e2231a;
}

.navitems {
    height: 40px;
    position: absolute;
    left: 204px;
    top: 100px;
}

.navitems ul {
    float: left;
}

.navitems ul li {
    float: left;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    margin: 0 11px;
}

.navitems ul li a {
    color: #333;
    font-weight: 400;
}

.navitems ul li a:hover {
    color: #c81623;
}

.navitems ul li.fore1 a,
.navitems ul li.fore2 a {
    font-weight: 700;
    color: #e1251b
}

.treasure {
    width: 190px;
    height: 120px;
    position: absolute;
    top: 10px;
    right: 0;
}

.treasure a img {
    width: 100%;
    height: 100%;
}

.shoppingCar{
    position: absolute;
    top: 25px;
    right: 230px;
}
.shoppingCar .shoppingIcon{
    width: 130px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border: 1px solid #eee;
    background: #fff;
    font-size: 12px;
    position: relative;
}
.shoppingCar .shoppingIcon:hover{
    border-color: #e1251b;
}
.shoppingCar .shoppingNum{
    display: block;
    font-style: normal;
    position: absolute;
    top: 0px;
    left: 28px;
    width: 18px;
    height: 14px;
    line-height: 14px;
    color: #fff;
    border-radius: 40%;
    background-color: #e1251b;
}
.shoppingCar .iconfont{
    color: #e1251b;
    position: absolute;
    top: 0px;
    left: 18px;
    font-size: 16px;
}

.shoppingCar a{
    display: inline-block;
    color: #e1251b;
    margin-left: 18px;
}